{% extends 'base.html' %}

{% block content %}

<div class="text-center py-24">
    <div class="text-7xl mb-6">🎉</div>
    <h1 class="text-3xl font-bold mb-4">سفارش شما ثبت شد!</h1>
    <p class="text-gray-500 text-lg mb-4 max-w-md mx-auto">
        ممنون از خرید شما. لطفا، سفارش را به شماره کارت زیر واریز کنید:
5041 7210 7672 3528
سپس پیام «واریز شد» را همراه با نام و شماره سفارش به شماره زیر ارسال کنید:
0935 958 2181
پس از تأیید پرداخت، سفارش شما آماده‌سازی و ارسال می‌شود.

    </p>
    <div class="bg-white rounded-2xl p-6 max-w-sm mx-auto mb-8 text-sm text-gray-500">
        💳 لطفاً منتظر تماس ما باشید تا اطلاعات پرداخت کارت به کارت برای شما ارسال شود.
    </div>
    <a href="/shop" class="btn-primary inline-block font-semibold text-lg">
        بازگشت به فروشگاه
    </a>
</div>

{% endblock %}